*{
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#header{
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#imageCard > img{
    width: 150px;
}

/* #dcInput {
    background: url(./images/dc-icon.svg) no-repeat scroll 7px 7px;
    padding-left:30px;  
} */

#form{
    display: flex;
    justify-content: center;
}

#form > form{
    width: 60vw;
}

#dcCard{
    margin-bottom: 16px;
    font-size: 14px;
}

.mb-6{
    margin-bottom: 6px;
}

.mb-16{
    margin-bottom: 16px;
}

#phoneCard{
    margin-bottom: 30px;
    font-size: 14px;
}

#checkBoxCard{
    margin-bottom: 10px;
    font-size: 12px;
}

#submitButton{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 96px;
    font-size: 16px;
}

#submitButton > button{
    width: 100vw;
    height: 48px;
}

.icon-left {
    padding-left: 25px;
    background: url("./images/dc-icon.svg") no-repeat left;
    background-size: 20px;
}

.input-dc{
    height: 40px;
    border-radius: 8px;
    border: 1px solid #D0D5DD;
    padding: 10px, 14px, 10px, 14px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.input-dc > img{
    height: 20px;
    width: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.input-dc > input{
    width: 100%;
    margin-right: 10px;
    height: 20px;
    border: none;
}

#checkBoxCard button{
    font-size: 12px;
    border: none;
    background: none;
    color: #FF8736;
    cursor: pointer;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    top: 0;
    left: 0;
    /* transform: translate(-50%, -50%); */
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(12, 17, 29, 0.9)
}

/* Modal Content/Box */
.modal-content {
    /* top: 0;
    left: 0; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60vw; /* Could be more or less, depending on screen size */
    background-color: white;
    font-size: 14px;
    border-radius: 30px;
    /* position: absolute; */
    padding: 16px;
    text-align: justify;
}

.modal-content > h2{
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.modal-content > p{
    margin-bottom: 10px;
}

.close {
    margin-top: 10px;
    width: 100%;
    height: 48px;
    border-radius: 24px;
    padding: 12px 18px 12px 18px;
    background-color: #FF8736;
    border: 1px solid #FF8736;
    color: white;
    font-size: 16px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    text-decoration: none;
    cursor: pointer;
    color: rgb(227, 219, 219);
    background-color: #df7b38;
}